.button {
    width: 7.28rem;
    height: 2.50rem;
    background-color: #00c0f5;
    border-radius: 8px;
    border: none;
    font-size: 0.76rem;
    position: relative;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}



